$font-family-roboto: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

$color-main-pink: #EF2A82;
$color-main-lilo: #EEEEF7;
$color-text-blue: #172755;
$color-text-white: #FFFFFF;
$color-text-secondary: #8794BA;
$color-dark-blue: #0F1F4B;
$color-dark-grey: #465B95;
$color-blue-line: #2A407C;





@mixin roboto-regular {
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  font-style: normal;
}

@mixin roboto-bold {
  font-family: $font-family-roboto;
  font-weight: $font-weight-bold;
  font-style: normal;
}

@mixin flex-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

// @include roboto-regular;

// @include roboto-bold;

// @include flex-align;

// clip-path: polygon(0 0, 100% 0%, 100% 74%, 0 100%);